#logo
{
    /* width: 165px;
    height: 20px;
    top:9%;
    left:20%; 
    position:absolute; */
    /* width:12%;
    height:50%;
    /* margin:auto 0px; */
    color:#F5F5F5;
    font-weight:bold;
    font-style:italic;
    /* color:rgba(6, 35, 73, 0.64);
    color:rgba(24, 141, 249, 0)   */
}
#en
{
    /* width:200px;
    height:48px;
    top: 46px;
    left: 1097px; 
    position:absolute;
    padding: 12px 44px 12px 44px;
    border-radius:15px; */
    /* width:15%;
    height:100%; */
    font-weight:bold;
    /* border: 2px solid #17ABFF; */
    color:#17ABFF;
    /* margin:auto 0px; */
    background-color:rgba(6, 35, 73, 0.64);
}
#en:hover
{
    box-shadow:0px 0px 5px white;
}
#hc
{
    /* width: 500px;
    height: 220px;
    position:absolute;
    top : 200px;
    left : 160px;
    font-size: 48px;
    line-height: 60px;  */
    /* width:35%;
    height:70%; */
    font-weight:bold;
    background-color:transparent;
    font-family:Oswald,sans-serif;
    text-align: left;
    /* padding:2%; */
    box-sizing:border-box;
    color:white;
}
#card
{
    /* width: 305px;
    height: 320px;
    position:absolute;
    top: 210px;
    left: 975px; */
    /* width:21%;
    height:100%; */
    background:#5790beda;  
}
#bluebtn
{
    /*height:50px;
    top: 389px;
    left: 1005px;
    padding: 12px 40px 12px 40px;
    border-radius:10px; */
    width:85%;
    padding:1% 2%;
    margin:0px auto;
    display:block;
    box-sizing:border-box;
    background-color:#17ABFF;
    color:white;
    font-weight:bold;
    border:0px;
}
#bluebtn:hover
{
    box-shadow:0px 0px 5px white;
}
#hc span
{
    font-family: Poppins;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;  
}
#feature
{
   width: 1460px;
   height: 180px;
   background: #F4F9FF;
}
#feature div
{
    width:1020px;
    height:125px;
    margin:0px auto;
    /* gap: 160px; */
    opacity: 0px;
}